<div *ngIf="books.length === 0">
  Está tão vazio por aqui. Que tal começar criando um
  <a [routerLink]="['/book/new']">novo livro</a>?
</div>
<mat-grid-list class="container" cols="4" rowHeight="2:1.5">
  <mat-grid-tile class="items" *ngFor="let book of books"
    ><div class="book item">
      <div class="book-title">{{ book.name }}</div>
      <div class="book-author">Autor: &nbsp;{{ book.authorName }}</div>

      <div class="actions">
        <button mat-button (click)="openDeleteConfirmationDialog(book.id)">
          <mat-icon class="button" aria-hidden="false" aria-label="Delete icon"
            >delete</mat-icon
          >
        </button>
        <button mat-button>
          <mat-icon
            class="button"
            [routerLink]="['/book/edit/', book.id]"
            aria-hidden="false"
            aria-label="Edit icon"
            >edit</mat-icon
          >
        </button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
