<div class="form-container">
  <div class="form-title">
    <h5>Cadastro de livro</h5>
  </div>
  <form
    class="book-form"
    [formGroup]="formGroup"
    #form="ngForm"
    (ngSubmit)="onFormSubmit()"
    autocomplete="off"
  >
    <mat-form-field class="book-full-width">
      <mat-label>Título</mat-label>
      <input matInput formControlName="name" #bookName />
      <mat-error *ngIf="formGroup.controls.name.invalid">
        <span *ngIf="name.errors.required">O título é obrigatório.</span>
        <span *ngIf="name.errors.minlength">
          O título deve ter ao menos 2 caracteres.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="book-full-width">
      <mat-label>Autor</mat-label>
      <input matInput formControlName="authorName" name="authorName" />
      <mat-error *ngIf="formGroup.controls.authorName.invalid">
        <span *ngIf="authorName.errors.required">
          O nome do autor é obrigatório.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="book-full-width">
      <mat-label>ISBN</mat-label>
      <input matInput formControlName="isbn" name="isbn" />
      <mat-error *ngIf="formGroup.controls.name.invalid">
        <span *ngIf="isbn.errors.required">O ISBN obrigatório.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill" class="book-full-width">
      <mat-label>Data de lançamento</mat-label>
      <input
        matInput
        [matDatepicker]="releaseDate"
        formControlName="releaseDate"
        name="releaseDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="releaseDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #releaseDate></mat-datepicker>
    </mat-form-field>

    <button
      mat-button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="false"
    >
      Salvar
    </button>
  </form>
</div>
